<!DOCTYPE HTML>
<html>
	<head>
		<title>ChessTrack</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="../../js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../../css/home.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="../../css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="../../css/ie9.css" /><![endif]-->
	</head>
	<body class="header-visible">

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="../../images/avatar.jpg" alt="" /></span>
							<a href="/"><h1 id="title">ChessTrack</h1></a>
							<h5>Menu</h5>
						</div>

					<!-- Nav -->
						<nav id="nav">
						
							<ul>
								<li><a href="/users/home" id="top-link" class="skel-layers-ignoreHref" ><span class="icon fa-home">Home</span></a></li>
                                <li><a href="/" id="top-link" class="skel-layers-ignoreHref" ><span class="icon fa-globe">Main Page</span></a></li>
								<li><a href="/groups/join" id="top-link" class="skel-layers-ignoreHref" ><span class="icon fa-users">Groups</span></a></li>
                                <li><a href="/users/games" id="top-link" class="skel-layers-ignoreHref" ><span class="icon fa-trophy">Games</span></a></li>
                                <li><a href="/users/settings" id="top-link" class="skel-layers-ignoreHref" ><span class="icon fa-cog">Settings</span></a></li>
                                <li><a href="/users/logout" id="top-link" class="skel-layers-ignoreHref" ><span class="icon fa-sign-out">Log Out</span></a></li>
                                
                                
                                
                                <!-- End of list -->
							</ul>
						</nav>

				</div>
<br>
				<div class="bottom">

					<!-- Social Icons -->
					
				</div>

			</div>

		<!-- Main -->
			<div id="main">

				<!-- Intro -->
				
                    
                    
                    <div id="contentstuff">

                    